{% extends 'base.html' %}
{% load l10n custom_filters %}

{% block title %}
    KATEGORIE POHÁRU | {{ kategorie.nazev }}
{% endblock title %}

{% block section %}section_pohary{% endblock section %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{% url 'pohary:pohary_list' %}" class="section">poháry</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ pohar.get_absolute_url }}" class="section">{{ pohar }}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">detail kategorie poháru</div>
    </div>
{% endblock breadcrumb %}

{% block header %}
    <h1 class="ui header">
        <a href="{{ pohar.get_absolute_url }}" title="na pohár">
            <i class="ui reply mail link big icon"></i>
        </a>
        <div class="content">
            <i class="ui trophy big icon"></i>
            {{ pohar }}
            <div class="sub header">detail kategorie poháru</div>
        </div>
    </h1>
{% endblock header %}

{% block staff %}
    {% if user.is_staff %}
        <div class="ui stacked secondary segment noprint">
            <a href="{% url 'admin:pohary_kategoriepoharu_change' kategorie.id %}" title="editovat kategorii poháru v administraci" target="_blank" class="ui icon black button">
                <i class="settings icon"></i>
                admin kategorie
            </a>
            <a href="{% url 'pohary:kategorie_poharu_pdf' kategorie.pk %}" target="_blank" class="ui icon grey button" title="">
                <i class="file pdf outline icon"></i>
                výsledky v PDF
            </a>
        </div>
    {% endif %}
{% endblock staff %}

{% block content %}
    {% include "pohary/_kategoriepoharu_tabulka.html" %}
{% endblock content %}