{% extends 'base.html' %}
{% load l10n %}

{% block title %}
    IMPORT | lidé CSV
{% endblock title %}

{% block custom_js %}{% endblock %}

{% block section %}section_lide{% endblock %}

{% block header %}
    <h1 class="ui header">
        <i class="ui user big icon"></i>
        <div class="content">
            Import lidí ze souboru CSV
        </div>
    </h1>    
{% endblock header %}

{% block staff %}
{% endblock staff %}

{% block content %}
    <form method="POST" action="." enctype="multipart/form-data" class="ui form">
        {% csrf_token %}
        
            <div class="field {% if form.soubor.errors %}error{% endif %}">
                <label class="underlined">
                    {{ form.soubor.label }}
                    <i class="circle help icon" title="{{ form.soubor.help_text }}"></i>
                </label>

                {{ form.soubor }}

                {% if form.soubor.errors %}
                    <div class="ui red inverted segment">
                        {{ form.soubor.errors }}
                    </div>                    
                {% endif %}

            </div>

        <button type="submit" class="ui primary icon button">
            <i class="save icon"></i>
            odeslat
        </button>
        <a href="{% url 'lide:lide_list' %}" title="neuložit a zpět" class="ui icon button">
            <i class="ui reply mail icon"></i>
            zrušit
        </a>           
    </form>           
{% endblock content %}