

<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>
    HANES 
     | úvod

    </title>

    <link href="/static/semantic-ui/dist/semantic.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/print.css" rel="stylesheet" media="print">
    

    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/semantic-ui/dist/semantic.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.autocomplete.min.js" type="text/javascript"></script>
    <script src="/static/js/base.js" type="text/javascript"></script>
    
</head>


<body id="section_uvod">

    <div class="ui small blue inverted menu" id="main_menu">
        <div class="header item" id="menu_uvod">
            <a href="/">
                <i class="icon sun"></i>HANES 1.0
            </a>
        </div>
        <div class="item" id="menu_zavody">
            <a href="/zavody/">
                závody
            </a>
        </div>
        <div class="item" id="menu_lide">
            <a href="/lide/">
                lidé
            </a>
        </div>
        <div class="item" id="menu_kluby">
            <a href="/lide/kluby/">
                kluby
            </a>
        </div>

        <div class="right menu">
            
                <div class="item" id="menu_admin">
                    <a href="/admin/" title="do administrace databáze" target="_blank">
                        <i class="settings link icon"></i> admin
                    </a>
                </div>
            
            
                <div class="item" title="přihlášený uživatel">
                    <i class="user icon"></i>
                    Martin Hruška
                </div>
                <div class="item" id="menu_login">
                    <a href="/accounts/logout/?next=/" title="odhlásit se">
                        <i class="sign out link  icon"></i>
                    </a>
                </div>
            
        </div>
    </div>


    

    
    <h1 class="ui header">
        Julinka = zločinecká organizace
    </h1>    


    

    

    <div id="content">
        
    <p>
        nějaký úvdoní pokec, nebo cokoliv!
    </p>

    </div>

</body>


</html>
