{% load l10n custom_filters %}
<div id="kat_{{kategorie.id}}" class="ui sortable unstackable large table" style="border-top: 1px solid {% if kategorie.pohlavi == 'm' %}blue{% endif %}{% if kategorie.pohlavi == 'z' %}red{% endif %}">
    <div class="caption">
        {% if kategorie %}
            <div class="ui grid">
                <div class="one wide column">
                    {% if kategorie.znacka %}
                        {{ kategorie.znacka }}
                    {% endif %}
                </div>
                <div class="five wide column">
                    <a href="{{ kategorie.get_absolute_url }}" title="na detail kategorie">
                        {{ kategorie.nazev }}
                    </a>
                </div>
                <div class="three wide column">
                    nar. {{ kategorie.rozsah_narozeni.0|unlocalize }} - {{ kategorie.rozsah_narozeni.1|unlocalize }}
                </div>
                <div class="column">
                    {{ kategorie.delka_trate|default:'-' }}
                </div>
                <div class="four wide column" title="požadované vlastnosti závodníka">
                    {% if kategorie.atributy.all.exists %}
                        {% for attr in kategorie.atributy.all %}
                            {{ attr.nazev }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="column" title="počet závodníků v kategorii">
                    {{ zavodnici|length }}
                    <i class="user icon"></i>
                </div>
                <div class="column">
                    <a onclick="printPage('{% url 'zavody:startovka_kategorie_PDF' kategorie.pk %}')" title="rovnou vytiskne stránku PDF se startovkou kategorie" class="auto-print" data-url="{% url 'zavody:vysledky_kategorie_PDF' kategorie.pk %}">
                        <i class="print link icon"></i>
                    </a>
                    <a href="{% url 'zavody:startovka_kategorie_PDF' kategorie.pk %}" target="_blank" title="zobrazit startovku kategorie na nové kartě prohlížeče ve formátu PDF" class="auto-pdf">
                        <i class="file pdf outline icon"></i>
                    </a>
                </div>
            </div>
        {% else %}
            nezařazení
        {% endif %}
    </div>
    <div class="thead">
        <div class="tr">
            <span class="th" style="width:1em;"></span>
            {% th_sortable 'číslo' 'cislo' 9 kategorie.id %}
            {% th_sortable 'příjmení' 'clovek__prijmeni' 10 kategorie.id %}
            {% th_sortable 'jméno' 'clovek__jmeno' 9 kategorie.id %}
            {% th_sortable 'nar.' 'clovek__narozen' 3 kategorie.id %}
            {% th_sortable 'klub' 'klub' kategorie.id %}
            {% th_sortable 'startovní čas' 'startovni_cas' 8 kategorie.id %}
            {% th_sortable 'cílový čas' 'cilovy_cas' 8kategorie.id %}
            {% th_sortable 'nedokončil' 'nedokoncil' 4 kategorie.id %}
            <span class="th"></span>
            {% th_sortable 'výsledný čas' 'vysledny_cas' 8 kategorie.id %}
            <span class="th" style="width:1em;"></span>
        </div>
    </div>

    <div class="tbody">
        {% for zavodnik, formular in zavodnici %}
            <form
                action="{% url 'zavodnici:uprav_zavodnika_ze_startovky' zavodnik.id %}"
                method="POST"
                class="tr ui small {% if formset.errors %}error{% endif %} form" id="zavodnik_{{ zavodnik.id }}"
            >
                <span class="td">
                    <i class="ui blue refresh link icon" title="aktualizovat řádek dle uložených dat" data-url="{% url 'zavodnici:aktualizuj_data_startovky' zavodnik.id %}"></i>
                </span>
                {# CISLO #}
                <span class="td">
                    {% csrf_token %}
                    <div class="ui labeled input">
                        <a href="{% url 'zavodnici:editace_zavodnika' zavodnik.id %}" title="editovat závodníka" class="ui basic label">
                            <i class="edit link icon"></i>
                        </a>
                        {{ formular.cislo }}
                    </div>
                    {% if formular.cislo.errors or formular.non_field_errors %}
                        <div class="ui red pointing above label">
                            {{ formular.cislo.errors.0|safe }}
                            {{ formular.non_field_errors.0|safe }}
                        </div>
                    {% endif %}
                </span>
                {% if zavodnik.clovek %}
                    <span class="td">
                        <a href="{% url 'lide:clovek_update' zavodnik.clovek.slug %}" title="editovat člověka">
                            {{ zavodnik.clovek.prijmeni }}
                        </a>
                        {% if zavodnik.kategorie %}
                            <i class="warning circle icon" title="kategorie '{{zavodnik.kategorie.nazev}}' je vynucena - není automaticky přiřazena"></i>
                        {% endif %}
                    </span>
                    <span class="td">
                        {{ zavodnik.clovek.jmeno }}
                    </span>
                    <span class="td">
                        {{ zavodnik.clovek.narozen|unlocalize }}
                    </span>
                {% else %}
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                {% endif %}
                <span class="td">
                    {% if zavodnik.klub %}
                        <a href="{% url 'kluby:klub_update' zavodnik.klub.slug %}" title="editovat klub">
                            {{ zavodnik.klub.nazev }}
                        </a>
                    {% endif %}
                </span>


                <span class="td">
                    {{ formular.startovni_cas }}
                    {% include "elements/_error_pointing_ label.html" with error=formular.startovni_cas.errors.0|safe %}
                </span>
                <span class="td">
                    {{ formular.cilovy_cas }}
                    {% include "elements/_error_pointing_ label.html" with error=formular.cilovy_cas.errors.0|safe %}
                </span>
                <span class="td">
                    {{ formular.nedokoncil }}
                </span>
                <span class="td">
                    <input type="submit" class="hidden">
                    <i class="save blue link icon" title="ODESLAT řádek, řádek lze odeslat i ENTERem (nefunguje v IE)"></i>
                </span>
                <span class="td">
                    {{ zavodnik.vysledny_cas|desetiny_sekundy }}
                </span>
                <span class="td">
                    <i class="ui red trash link icon" title="smazat závodníka ze závodu" data-url="{% url 'zavodnici:smaz_zavodnika_ze_startovky' zavodnik.id %}"></i>
                </span>
            </form>
        {% endfor %}
    </div>
</div>
