{% load l10n custom_filters %}
<div id="kat_{{kategorie.id|safe}}" class="ui sortable unstackable large table" style="border-top: 1px solid {% if kategorie.pohlavi == 'm' %}blue{% endif %}{% if kategorie.pohlavi == 'z' %}red{% endif %}">
    <div class="caption">
        {% if kategorie %}
            <div class="ui grid">
                <div class="one wide column">
                    {% if kategorie.znacka %}
                        {{ kategorie.znacka }}
                    {% endif %}
                </div>
                <div class="five wide column">
                    <a href="{{ kategorie.get_absolute_url }}" title="na detail kategorie">
                        {{ kategorie.nazev }}
                    </a>
                </div>
                <div class="three wide column">
                    {{ kategorie.rozsah_narozeni.0|unlocalize }} - {{ kategorie.rozsah_narozeni.1|unlocalize }}
                </div>
                <div class="column">
                    {{ kategorie.delka_trate|default:'-' }}
                </div>
                <div class="three wide column" title="požadované vlastnosti závodníka">
                    {% if kategorie.atributy.all.exists %}
                        {% for attr in kategorie.atributy.all %}
                            {{ attr.nazev }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="three wide column right aligned">
                    <span class="users-count" title="počet závodníků v kategorii">
                        {{ zavodnici|length }}
                        <i class="user icon"></i>
                    </span>
                    <a onclick="printPage('{% url 'zavody:startovka_kategorie_PDF' kategorie.pk %}')" title="rovnou vytiskne stránku PDF se startovkou kategorie" class="auto-print" data-url="{% url 'zavody:vysledky_kategorie_PDF' kategorie.pk %}">
                        <i class="print link icon"></i>
                    </a>
                    <a href="{% url 'zavody:startovka_kategorie_PDF' kategorie.pk %}" target="_blank" title="zobrazit startovku kategorie na nové kartě prohlížeče ve formátu PDF" class="auto-pdf">
                        <i class="file pdf outline icon"></i>
                    </a>
                </div>
            </div>
        {% else %}
            nezařazení
        {% endif %}
    </div>
    <div class="thead">
        <div class="tr">
            <span class="th" style="width:1em;"></span>
            {% th_sortable 'číslo' 'cislo' 4 kategorie.id %}
            {% th_sortable 'příjmení' 'clovek__prijmeni' '' kategorie.id %}
            {% th_sortable 'jméno' 'clovek__jmeno' '' kategorie.id %}
            {% th_sortable 'nar.' 'clovek__narozen' 4 kategorie.id %}
            {% th_sortable 'klub' 'klub' '' kategorie.id %}
            {% th_sortable 'start. čas' 'startovni_cas' 6 kategorie.id %}
            {% th_sortable 'cíl. čas' 'cilovy_cas' 6 kategorie.id %}
            {% th_sortable 'nedokončil' 'nedokoncil' 7 kategorie.id %}
            <span class="th"></span>
            {% th_sortable 'výsl. čas' 'vysledny_cas' 6 kategorie.id %}
            <span class="th" style="width:1em;"></span>
        </div>
    </div>

    <div class="tbody">
        {% for zavodnik, formular in zavodnici %}
            {% include "zavody/staff/_startovka_zavodnik_form.html" %}
        {% endfor %}
    </div>
</div>
