{% extends 'base.html' %}
{% load l10n staticfiles custom_filters %}

{% block title %}
    STARTOVNÍ ČASY | {{ rocnik }}
{% endblock title %}

{% block section %}section_zavody{% endblock %}
{% block body_class %}teal{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/startovni_casy.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
{% endblock custom_js %}

{% block custom_css %}
    <link href="{% static 'jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{% url 'zavody:zavody_list' %}" class="section">závody</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ rocnik.zavod.get_absolute_url }}" class="section">detail závodu</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ rocnik.get_absolute_url }}" class="section">detail ročníku</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">startovní časy</div>
    </div>
{% endblock breadcrumb %}

{% block header %}
    <h1 class="ui header">
        <a href="{{ rocnik.get_absolute_url }}" title="na detail závodu">
            <i class="ui reply mail link big icon"></i>
        </a>
        <div class="content">
            <i class="checkered flag big icon"></i>
            {{ rocnik }}
            <div class="sub header">startovní časy</div>
        </div>
    </h1>
{% endblock header %}

{% block staff %}
    <div class="ui stacked secondary sticky segment">
       .
        <button type="submit" class="ui primary icon right floated button" form="startovni_casy">
            <i class="save icon"></i> odeslat
        </button>
    </div>
{% endblock staff %}

{% block content %}
    <form action="" method="POST" id="startovni_casy" class="ui small {% if formset.errors %}error{% endif %} form">
        {% csrf_token %}
        {{ form.management_form }}

        {% if formset.errors %}
            <div class="ui error message">
                CHYBA: {{ formset.non_form_errors }}
            </div>
        {% endif %}

        {% for kategorie in form %}
            <h2 class="ui top attached header">
                <a href="{% url 'zavody:kategorie_editace' kategorie.instance.id %}" title="editace kategorie">
                    {{ kategorie.instance }}
                </a>
            </h2>
            <div class="ui attached segment">
                {{ kategorie.id }}{{ kategorie.rocnik }}
                {{ kategorie.nested.management_form }}
                {% if kategorie.nested.0 %}
                    <div class="ui stackable grid">
                        <div class="twelve wide column zavodnici">
                            <table class="ui table sortable">
                                <thead>
                                    <tr>
                                        <th>číslo</th>
                                        <th>příjmení</th>
                                        <th>jméno</th>
                                        <th>nar.</th>
                                        <th>klub</th>
                                        <th style="width: 13em;">startovní čas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for zavodnik in kategorie.nested %}
                                        <tr {% if zavodnik.instance.cilovy_cas %}class="warning" title="závodník má již zadán cílový čas!"{% endif %}>
                                            <td>
                                                <a href="{% url 'zavodnici:editace_zavodnika' zavodnik.instance.id %}" title="editovat závodníka">
                                                    {{ zavodnik.instance.cislo }}
                                                </a>
                                                {{ zavodnik.id }}
                                            </td>
                                            <td>
                                                {{ zavodnik.instance.clovek.prijmeni }}
                                            </td>
                                            <td>
                                                {{ zavodnik.instance.clovek.jmeno }}
                                            </td>
                                            <td>
                                                {{ zavodnik.instance.clovek.narozen|unlocalize }}
                                            </td>
                                            {% if zavodnik.instance.cilovy_cas %}
                                                <td class="warning">
                                                    <i class="warning sign icon"></i>
                                                    {{ zavodnik.instance.cilovy_cas|time:'H:i:s' }}
                                                </td>
                                            {% else %}
                                                <td>
                                                    {{ zavodnik.instance.klub.nazev }}
                                                </td>
                                            {% endif %}
                                            <td>
                                                {{ zavodnik.startovni_cas }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="four wide column cas">
                            <div class="ui tertiary segment form">
                              <div class="spusteni_stopek field">
                                <label>
                                    {{ kategorie.spusteni_stopek.label }}
                                    <i class="help circle icon" title="{{ kategorie.spusteni_stopek.help_text }}"></i>
                                </label>
                                <div class="ui action input">
                                    {{ kategorie.spusteni_stopek }}
                                    <button type="button" class="ui icon button" title="kopírovat aktualní hodnotu i do ostatních kategorií">
                                        <i class="copy icon"></i>
                                    </button>
                                </div>
                              </div>
                            </div>
                            <div class="ui secondary segment form">
                              <div class="start field">
                                <label>
                                    Start prvního závodníka
                                    <i class="help circle icon" title="středoevropský čas, kdy startuje první závodník"></i>
                                </label>
                                <div class="ui action input">
                                    <input type="text" placeholder="hh:mm:ss" value="{{ kategorie.nested.0.startovni_cas.value|default:kategorie.spusteni_stopek.value|time:'H:i:s' }}">
                                    <button type="button" class="ui icon button" title="kopírovat aktualní hodnotu i do ostatních kategorií">
                                        <i class="copy icon"></i>
                                    </button>
                                </div>
                              </div>
                              <div class="rozdil field">
                                <label>Sekundový rozdíl mezi starty</label>
                                <div class="ui action input">
                                    <input type="text" placeholder="sekundy" value=30>
                                    <button type="button" class="ui icon button" title="kopírovat aktualní hodnotu i do ostatních kategorií">
                                        <i class="copy icon"></i>
                                    </button>
                                </div>
                              </div>
                              <div class="kolik field">
                                <label>Velikost startované skupinky</label>
                                <div class="ui action input">
                                    <select>
                                        <option value="1" selected="selected">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="0">všichni</option>
                                    </select>
                                    <button type="button" class="ui icon button" title="kopírovat aktualní hodnotu i do ostatních kategorií">
                                        <i class="copy icon"></i>
                                    </button>
                                </div>
                              </div>
                              <button type="button" class="ui primary fluid button prepocitat" title="přiřadit časy závodníkům v kategorii">
                                <i class="left arrow icon"></i>
                                přiřadit časy
                              </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="ui primary icon right floated button" form="startovni_casy">
            <i class="save icon"></i> odeslat
        </button>
    </form>
{% endblock content %}