{% extends 'base.html' %}
{% load l10n static custom_filters %}

{% block title %}
    STARTOVNÍ ČASY | {{ rocnik }}
{% endblock title %}

{% block section %}section_zavody{% endblock %}
{% block body_class %}teal{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/startovni_casy.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
{% endblock custom_js %}

{% block custom_css %}
    <link href="{% static 'jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{% url 'zavody:zavody_list' %}" class="section">závody</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ rocnik.zavod.get_absolute_url }}" class="section">detail závodu</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ rocnik.get_absolute_url }}" class="section">detail ročníku</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">startovní časy</div>
    </div>
{% endblock breadcrumb %}

{% block header %}
    <h1 class="ui header">
        <a href="{{ rocnik.get_absolute_url }}" title="na detail závodu">
            <i class="ui reply mail link big icon"></i>
        </a>
        <div class="content">
            <i class="checkered flag big icon"></i>
            {{ rocnik }}
            <div class="sub header">startovní časy</div>
        </div>
    </h1>
{% endblock header %}

{% block content %}
        <div id="start_times">
            {% for kategorie in kategorie_list %}
                {% include "zavody/staff/_startovni_casy_kategorie.html" %}
            {% endfor %}
        </div>
{% endblock content %}