{% extends 'base.html' %}
{% load l10n i18n staticfiles %}

{% block title %}
    STARTOVNÍ LISTINA | {{ rocnik }}
{% endblock title %}

{% block section %}section_zavody{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/startovka.js' %}" type="text/javascript"></script>
{% endblock custom_js %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{% url 'zavody:zavody_list' %}" class="section">závody</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ rocnik.zavod.get_absolute_url }}" class="section">detail závodu</a>
        <i class="right chevron icon divider"></i>
        <a href="{{ rocnik.get_absolute_url }}" class="section">detail ročníku</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">startovní listina</div>
    </div>
{% endblock breadcrumb %}

{% block header %}
    <h1 class="ui header">
        <a href="{{ rocnik.get_absolute_url }}" title="na detail závodu">
            <i class="ui reply mail link big icon"></i>
        </a>
        <div class="content">
            <i class="checkered flag big icon"></i>
            {{ rocnik }}
            <div class="sub header">{{ rocnik.zavod.sport }} - startovní listina ročníku</div>
        </div>
    </h1>
{% endblock header %}

{% block staff %}
    <div class="ui stacked secondary sticky segment">
        <a href="{% url 'zavody:pridani_zavodniku' rocnik.id %}" class="ui blue icon button">
            <i class="plus icon"></i>
            přidat závodníky
        </a>
        <a href="{% url 'zavody:import_zavodniku' rocnik.id %}" class="ui blue icon button">
            <i class="upload icon"></i>
            import závodníků
        </a>
        <a href="{% url 'zavody:rozkategorizovat_zavodniky' rocnik.id %}" class="ui {% if nezarazeni %}red{% endif %} icon button">
            <i class="random icon"></i>
            rozkategorizovat [{{ nezarazeni|length }}]
        </a>
        <a href="{% url 'zavody:startovka_export' rocnik.id ordering_str %}" title="vyexportovat data do CSV:excel" class="ui icon grey button">
            <i class="download icon"></i>
            export startovka
        </a>
        <a href="{% url 'zavody:startovka_rocnik_PDF' rocnik.pk %}" target="_blank" class="ui icon grey button" title="převod startovní listiny všech kategorií do PDF v novém okně prohlížeče">
            <i class="file pdf outline icon"></i>
            startovka v PDF
        </a>
    </div>
{% endblock staff %}

{% block content %}
    <div id="startovni_listina">

            {% if nezarazeni %}
               {% include "zavody/staff/_startovka_kategorie.html" with kategorie=None zavodnici=nezarazeni color='red' %}
            {% endif %}

            {% for kategorie, zavodnici in kategorie_list %}
                {% include "zavody/staff/_startovka_kategorie.html" %}
            {% endfor %}

    </div>
{% endblock content %}
